@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- GENERAL ----------- */
body {
  @apply relative bg-main-background h-[100vh] font-raleway;
}

main {
  @apply -z-50;
}

/* ---------- HEADER ----------- */
.header-section {
  @apply flex flex-row justify-between items-center mt-6 mx-5 h-[1.5rem]
  lg:h-[3.25rem] lg:mt-[4.5625rem] lg:mx-20;
}

.header-logo {
  @apply max-h-[100%];
}

.header-nav-list {
  @apply flex flex-row gap-6 items-center text-neutral-snow text-[0.75rem] font-normal
  lg:text-[1rem];
}

.header-features,
.header-team,
.header-signin {
  @apply hover:underline;
}

/* ---------- CTA ----------- */
.cta-section {
  @apply flex flex-col items-center justify-center text-center mt-12 mx-9 text-neutral-snow 
  lg:mx-[22.5rem] lg:mt-[4.6875rem];
}

.cta-img {
  @apply lg:mb-9;
}

.cta-header {
  @apply text-[1.5rem] font-bold mt-8 mb-4 
  lg:text-[2.5rem] lg:mb-8 lg:mb-8;
}

.cta-details {
  @apply text-[0.875rem] font-normal
  lg:text-[1.25rem] lg:mb-8;
}

.cta-btn-section {
  @apply flex flex-row justify-center mx-9 mt-8 mb-[7.5rem] 
  lg:w-full lg:mb-[9.875rem];
}

.cta-btn {
  @apply lg:w-1/3 px-16 py-3 rounded-full bg-gradient-to-br from-gradient1-0 to-gradient1-1 hover:from-[#8ADAE3] hover:to-[#8ADAE3];
}

.btn-text {
  @apply text-[0.875rem] font-bold;
}

/* ---------- CARD SECTION ----------- */
.card-section {
  @apply mb-[10rem] 
  lg:grid lg:grid-cols-2 lg:mx-[17.5rem] lg:gap-x-[11rem] lg:gap-y-[4.375rem];
}

.card-body {
  @apply flex flex-col items-center text-center text-neutral-snow mx-7 mb-20 lg:m-0;
}

.card-image {
  @apply lg:mb-4;
}

.card-title {
  @apply text-[1.125rem] font-bold mb-2 mt-6 lg:mx-0 lg:mt-0 lg:mb-2;
}

.card-details {
  @apply text-[0.875rem] font-normal;
}

/* ---------- CONTENT SECTION ----------- */
.content-section {
  @apply flex flex-col items-center text-left mx-7 mb-[10rem]
  lg:grid lg:grid-cols-2 lg:mx-[7.5rem] lg:gap-x-[60px];
}

.content-text {
  @apply text-neutral-snow mb-4;
}

.content-title {
  @apply text-[1.125rem] font-bold mt-12 mb-4
  lg:text-[2.5rem] lg:mr-[120px];
}

.content-p {
  @apply text-[0.875rem] font-normal lg:text-[1rem];
}

.btn-container {
  @apply w-full flex flex-row items-start;
}

.content-btn {
  @apply flex flex-row items-center gap-2 pb-2 text-[0.75rem] font-normal leading-[1rem] text-accent-cyan border-b-2 border-accent-cyan hover:text-neutral-snow hover:border-neutral-snow;
}

/* ---------- REVIEW SECTION ----------- */
.review-section {
  @apply relative flex flex-col gap-6 items-center text-left text-neutral-snow mx-12
  lg:flex-row lg:gap-x-10;
}

.quote-mark {
  @apply absolute -z-10 top-[0.125rem] left-0 w-[2rem] lg:left-10 lg:-top-6;
}

.review-card {
  @apply bg-main-testimonials pt-6 px-[1.25rem] pb-[1.3125rem] rounded-md;
}

.review-details {
  @apply text-[0.625rem] font-normal mb-4
  lg:text-[0.875rem] lg:mt-10;
}

.review-card-footer {
  @apply flex flex-row gap-4 items-center;
}

.review-card-footer-details {
  @apply lg:mb-6
}

.review-avatar {
  @apply rounded-full w-[2rem] h-[2rem];
}

.review-card-name {
  @apply text-[0.75rem] font-bold mb-1;
}

.review-card-title {
  @apply text-[0.625rem] font-normal;
}

/* ---------- SIGNUP SECTION ----------- */
.signup-section {
  @apply z-10 relative flex flex-col bg-main-intro-email items-center rounded-[0.5625rem] text-center text-neutral-snow mx-5 mb-20 px-7 py-10
  lg:mx-[18.0625rem] bottom-[-100px] lg:bottom-[-150px];
}

.signup-text {
  @apply lg:mx-[5.9375rem];
}

.signup-title {
  @apply text-[1.125rem] font-bold m-4 lg:text-[2rem];
}

.signup-details {
  @apply text-[0.875rem] font-normal mb-8 lg:text-[0.875rem];
}

.btn-group {
  @apply lg:flex lg:flex-row;
}

.signup-input {
  @apply w-full text-black rounded-full mb-6 py-3 text-[0.625rem] font-normal pl-[1.875rem] 
  lg:ml-[4.8125rem] lg:mr-[1.8125rem] lg:mb-5 lg:text-[0.75rem];
}

.signup-btn {
  @apply w-full rounded-full mb-5 py-3 bg-gradient-to-br from-gradient1-0 to-gradient1-1 text-[0.875rem] font-bold 
  lg:mr-[4.8125rem] lg:w-1/2 hover:from-[#8ADAE3] hover:to-[#8ADAE3];
}

/* ---------- FOOTER SECTION ----------- */
.footer-section {
  @apply bg-main-footer relative text-neutral-snow lg:pl-[7.5rem] pt-[10.625rem];
}

.footer-container {
  @apply lg:flex lg:flex-row lg:justify-between lg:items-start;
}

.footer-logo {
  @apply max-h-[100%] ml-10 h-[1.9375rem] mb-[2.1875rem] lg:ml-0;
}

.footer-contact-details {
  @apply flex flex-col gap-5 mx-7 mb-[3.5rem] lg:mx-0 lg:gap-x-20 lg:grid lg:grid-rows-4 lg:grid-flow-col lg:mr-20;
}

.footer-contact-address {
  @apply flex flex-row items-start gap-4 text-[1rem] font-normal lg:row-start-1 lg:row-span-full lg:gap-4;
}

.address-icon {
  @apply pt-[0.375rem];
}

.footer-contact-phone,
.footer-contact-email {
  @apply flex flex-row items-center gap-4 text-[1rem] font-normal;
}

.group1 {
  @apply flex flex-col gap-4 ml-6 mb-[3rem] text-[1rem] font-normal lg:mr-20 lg:w-1/6;
}

.group2 {
  @apply flex flex-col gap-3 ml-6 mb-[3.5rem] text-[1rem] font-normal lg:w-1/6;
}

.social-icons {
  @apply flex flex-row items-center justify-center mx-[8.5rem] gap-4 pb-[3.375rem] lg:ml-12 lg:mr-20;
}

.circle-radius {
  @apply rounded-full border-[0.0625rem] border-neutral-snow relative flex items-center justify-center h-[30px] w-[30px] hover:border-accent-cyan;
}

.circle-radius:hover .fa-twitter {
  color: #62e0d9;
}

.circle-radius:hover .fa-instagram {
  color: #62e0d9;
}

.circle-radius:hover .fa-facebook-f {
  color: #62e0d9;
}
