---
import Layout from '../layouts/Layout.astro';
import "@fontsource/raleway"
import '../styles/styles.css';

import Header from '../components/Header';
---

<Layout title="FYLO Challenge">
	<main>
		<Header />
	</main>
</Layout>
